.navbar-head{
	background-color: #FFFFFF;
	box-shadow: 2px 0px 9px #E0E0E0;
}
.judul-header{
	text-decoration: none;
	color: #C5E4FF;
	font-size: 19pt;
	position: relative;
	top: 6px;
	float: left;
}
.judul-header:hover{
	text-decoration: none;
	color: #C5E4FF;
	font-size: 19pt;
	position: relative;
	top: 6px;
}
.html{
	font-style:  Verdana, sans-serif ;
}
.navbar-head{
	border-bottom: 1px solid #C5C5C5;
}
.menu-top{
	display: inline-block;
	margin-left: 18px;

}
.menu-top li{
	float: left;
	position: relative;
}
.menu-top .active::after{
	content: "";
	position: absolute;
	width: 0;
	background-color: #000;
	height: 5px;
	top:0;
	left: 0;
	transition: width .5s;
	-webkit-transition: width .5s; /* Safari */
}
.menu-top li a{
	padding: 0;
	height: 50px;
	padding: 13px 10px;
	position: relative;
	transition: width 2s;
	-webkit-transition: width 2s; /* Safari */
}
.menu-top li a::after{
	content: "";
	position: absolute;
	width: 0;
	background-color: #000;
	height: 5px;
	top:0;
	left: 0;
	transition: all .5s;
	-webkit-transition: all .5s; /* Safari */
}
.menu-top li a:hover:after{
	width: 100%;
	transition: all .5s;
	-webkit-transition: all .5s; /* Safari */
}
